@import url("https://fonts.google.com/specimen/Fraunces)");
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Fraunces";
  }
body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}
.card{
    max-width: 20em;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(206, 206, 206);
    padding: 20px 30px; 
   }

   .card img {
    margin-bottom: 5px;
    max-width: 100%;
    border-radius: 8px;
   }
   .card p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 5px 0 8px 0;
    color: rgb(114, 113, 113);
   }
  .card h1 {
    margin:5px 0 8px 0;
  }
   .card h2 {
    display: inline;
    color: rgb(61, 105, 92);
    font-size: 30px;
  
   }
   .card h5 {
    display: inline;
    margin-left: 7px;
    color: rgb(114, 113, 113);
    font-size: 18px;
     }

.btn {
  margin-top: 10px;
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  background-color: rgb(61, 105, 92);
}
